html {
  color: #fff;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(150deg, #000000, #1E90FF);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
}

.alinhando_sobre{
  display: flex;
  flex-direction: column;
  gap: 25px;
  letter-spacing: 2px;
  padding: 0 15px;
  max-width: 70%;
  padding-left: 20%;
}

.titulo_sobre{
  padding-left: 37%;
}

.img_robo{
  padding-left: 70%;
}

.img_velho{
  padding-left: 10%;
}

.cabecalho .logo {
  width: 65px;
  height: 65px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-decoration: underline;
  text-align: center;
  line-height: 55px;

  font-family: "Raleway", sans serif;
  font-size: 30px;
  transition: 0.2s;
}

.cabecalho a:hover .logo {
  color: #9443d8;
  border: 2px solid #9443d8;
}

.cabecalho .menu li a {
  font-size: 20px;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.2s;
}

.cabecalho .menu li a:hover {
  background: #9443d8;
  color: #fff;
}

.menu-inicial{
  align-items: center;
  padding-left: 35%;
}

.menu-inicial a:hover .btn-menu{
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.1);
}

.menu-inicial .btn-menu{
  
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  font-family: "Raleway", sans serif;
  font-size: 18px;
  width: 250px;
  border-radius: 15px;
}

.menu-pre-partida-comum{
  align-items: center;
  padding-left: 30%;
}

.menu-pre-partida-comum a:hover .btn-menu{
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.1);
}

.menu-pre-partida-comum .btn-menu{
  
  flex-direction: row;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  margin-right: 40px;
  font-family: "Raleway", sans serif;
  font-size: 18px;
  width: 250px;
  border-radius: 15px;
}

.menu-de-partida{
  padding-left: 30%;
  padding-bottom: 30px;
  background: #F4A460;
}

.menu-de-partida .tabuleiro .btn-tabuleiro{
  align-items: center;
}

.menu-de-partida .tabuleiro a:hover .btn-tabuleiro{
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.1);
  background: #8A2BE2;

}

.menu-de-partida .tabuleiro .btn-tabuleiro{
  
  flex-direction: column;
  text-align: center;
  line-height: 75px;
  margin-top: 20px;
  margin-right: 20px;
  font-family: "Raleway", sans serif;
  font-size: 22px;
  width: 80px;
  height: 80px;
  border-radius: 5px;

}


.Player_parte_baixa{
  align-items: center;
  display: flex;
  gap: 120px;
  padding-left: 35%;
}

.Player_parte_baixa .play_2 a:hover .btn-menu{
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.1);
}

.Player_parte_baixa .play_2 .btn-menu{
  
  flex-direction: column;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  margin-right: 40px;
  font-family: "Raleway", sans serif;
  font-size: 18px;
  width: 250px;
  border-radius: 15px;
}

.Player_parte_baixa .play_2 a:hover .btn-menu_2{
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.1);
}

.Player_parte_baixa .play_2 .btn-menu_2{
  
  flex-direction: column;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  margin-right: 40px;
  font-family: "Raleway", sans serif;
  font-size: 18px;
  width: 250px;
  border-radius: 15px;
}

.Player_parte_baixa .config-play_2_baixo{
  align-items: center;
  padding-bottom: 50px;
}

.config-play_1{
  align-items: center;
  padding-left: 15%;
  display: flex;
  flex-direction: row;

}

.config-play_2{
  align-items: center;
  padding-left: 50%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.redes-sociais {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.redes-sociais a i {
  border: solid 1px #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 26px;
  transition: all 0.3s ease;
}

.redes-sociais a i:hover {
  border: 1px solid #9443d8;
  color: #9443d8;
  border-radius: 50%;
  transform: scale(1.1);
}


.espaco_1{
  display: flex;
  min-height: calc(65vh - 240px);
  justify-content: space-between;
}

.espaco_2{
  display: flex;
  min-height: calc(75vh - 240px);
  justify-content: space-between;
}

.config-play_1 .confete{ 
  position: absolute;
  top: 90px;

}

.config-play_1 .img_p1{
  padding-left: 30px;
}

.footer{
  width: 100%;
  padding-block: 30px;
  padding-left: 30px;
  flex-direction: row;

  
  bottom: 0;
  left: 0;
  background: linear-gradient(150deg, #000000, #6959CD);

  box-sizing: border-box;
  scroll-behavior: smooth;
  display: block;
}